@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";

html,
body {
  touch-action: pan-y;
  overscroll-behavior-x: contain;
  overflow-x: hidden;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  .input {
    @apply w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-indigo-500;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
